[submodule "dicoding/fundamental-android/github-user-app"]
	path = dicoding/fundamental-android/github-user-app
	url = git@github.com:fahdikrie/github-user-app.git
[submodule "dicoding/intermediate-android/story-app"]
	path = dicoding/intermediate-android/story-app
	url = git@github.com:fahdikrie/story-app.git
[submodule "dicoding/aad-certi-prep"]
	path = dicoding/aad-certi-prep
	url = git@github.com:fahdikrie/aad-certi-prep.git
